.App {
  text-align: center;
}

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 1.5rem;
}

p {
  margin-bottom: 0.5rem;
}

.btn{
  margin-top: 40px;
}


.article{
  padding-top: 40px;
}

.Label{
  font-size: 50px;
}

.text{
  font-size: 50px;
}